@import url('https://fonts.googleapis.com/css2?family=Acme&family=Baloo+2&family=Mali:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Baloo 2', cursive, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    
}

/* headings and logo */

h1, h2 {
    font-family: 'Baloo 2', cursive, sans-serif;
    letter-spacing: 4px;
    color: rgb(230, 101, 50)
}

h3 {
    color: rgb(230, 101, 50);
}

#logo {
    float: left;
    font-size: 200%;
    text-transform: uppercase;
    font-family: 'Acme', sans-serif;
    margin-left: 30px;
}



#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
    
    
}

#menu, #logo {
    line-height: 75px;
}



#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/* hero_image */

section {
    
        display: flex;
        flex-direction: column;
        /*min-height: 120vh;*/
        
      }
      
      main {
        flex: 1;
      }


#hero-outer {
    height: auto;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero_image_box {
    height: auto;
    width: 100%;
    position: relative;
}

#hero-image {
    width: 100%;
    max-width: 100%;
    height: auto;
}

    /*


    height: 1000px;
    width: 100%;
    background: url('../images/hero_image_3.jpg') no-repeat center center;
    background-size: cover;
    
    padding-top: 10px;
    padding-bottom: 10px;
    /*object-fit: contain;*/
    /*background-attachment: fixed;*/
/*
    /*height: 600px;*//*
    width: 100%;
    background: url('../images/hero_image_2.jpg') no-repeat center center;
    background-size: 100% auto;
    padding-top: 46%;
    opacity: 0.7;
*/
   /* 
    
    
    
    
    overflow: hidden;
    
    

*/




.greeting {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 350%;
}

.featured-items div div {
    width: 16vw;
    height: 16vw;
    display: inline-block;
    position: relative;
    margin-left: 60px;
    margin-bottom: 100px;
    padding: 3%;
    vertical-align: top;
    box-shadow: 0 0 16px rgb(0 0 0 / 15%);
    text-align: center;
}

.featured-items div div h3 {
    text-align: center;
    /*padding-top: 5%;*/
}

.featured-items div div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}
/*
.baloon-led{
    width: 16vw;
    height: 16vw;
    display: inline-block;
    margin-left: 80px;
    vertical-align: top;
    box-shadow: 0 0 16px rgb(0 0 0 / 15%);
    
}

.baloon-led h3 {
    
    text-align: center;
}

.baloon-gas{
    
    width: 16vw;
    height: 16vw;
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
    box-shadow: 0 0 16px rgb(0 0 0 / 15%);
}

.baloon-gas h3 {
    
    text-align: center;
}

.baloon-bouquet{
    
  
    width: 16vw;
    height: 16vw;

 
    display: inline-block;
    margin-left: 30px;
    
    vertical-align: top;
    box-shadow: 0 0 16px rgb(0 0 0 / 15%);
    
    
}

.baloon-bouquet h3 {
    
    text-align: center;
}

.baloon-inner{
    
    width: 16vw;
    height: 16vw;
   
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
    box-shadow: 0 0 16px rgb(0 0 0 / 15%);
}

.baloon-inner h3 {
    
    text-align: center;
}

.baloon-arc{
    
    width: 16vw;
    height: 16vw;
 
    display: inline-block;
    margin-left: 30px;
   
    vertical-align: top;
    box-shadow: 0 0 16px rgb(0 0 0 / 15%);
}

.baloon-arc h3 {
    
    text-align: center;
}

.image-left {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image_center-left {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image_center-right {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}

.image-right{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-outer-right{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

*/ 

footer {
    text-align: center;
    position: relative;
    bottom: 0; 
    
    width: 100%;
    
}

.social-networks {
    text-align: center;
    height: 100px;
    
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
    
}
  

