@import url('https://fonts.googleapis.com/css2?family=Acme&family=Baloo+2&family=Mali:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Baloo 2', cursive, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: 'Baloo 2', cursive, sans-serif;
    letter-spacing: 4px;
    color:rgb(34, 148, 19)
}

#logo {
    float: left;
    font-size: 300%;
    font-family: 'Acme', sans-serif;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}



#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/* hero_image */

#hero_image {
    
    width: 100%;
    height: 900px;
    background-image: url('../images/hero_image.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center top;
}