@import url('https://fonts.googleapis.com/css2?family=Acme&family=Baloo+2&family=Mali:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Baloo 2', cursive, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    
}

/* headings and logo */

h1, h2 {
    font-family: 'Baloo 2', cursive, sans-serif;
    letter-spacing: 4px;
    color: rgb(230, 101, 50)
}



#logo {
    float: left;
    font-size: 200%;
    text-transform: uppercase;
    font-family: 'Acme', sans-serif;
    margin-left: 30px;
}



#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
    
}

#menu, #logo {
    line-height: 75px;
}



#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/* hero_image */

#hero_image {
    
    width: 100%;
    
    padding-top: 46%;
    background: url('../images/hero_image.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow: hidden;
    opacity: 0.7;
}

.greeting {
    margin: 30px;
    text-align: center;
}

.baloon-led{
    background-color: blue;
    height: 50px;
    width: 20%;
    display: inline-block;
    margin-left: 40px;
    padding-right: 10px;
    vertical-align: top;
    
}

.baloon-led h3 {
    color: rgb(211, 28, 141);
    text-align: center;
}

.baloon-gas{
    background-color: rgb(0, 255, 106);
    height: 50px;
    width: 20%;
    display: inline-block;
    margin-left: 30px;
    padding-right: 10px;
    vertical-align: top;
}

.baloon-gas h3 {
    color: rgb(211, 28, 141);
    text-align: center;
}

.baloon-bouquet{
    background-color: rgb(0, 255, 106);
    height: 50px;
    width: 20%;
    display: inline-block;
    margin-left: 30px;
    padding-right: 10px;
    vertical-align: top;
}

.baloon-bouquet h3 {
    color: rgb(211, 28, 141);
    text-align: center;
}

.baloon-inner{
    background-color: rgb(0, 255, 106);
    height: 50px;
    width: 20%;
    display: inline-block;
    margin-left: 30px;
    padding-right: 10px;
    vertical-align: top;
}

.baloon-inner h3 {
    color: rgb(211, 28, 141);
    text-align: center;
}

.image-left {
    height: 300px;
    width: 100%;
}

.image_center-left {
    height: 300px;
    width: 100%;
}

.image_center-right {
    height: 300px;
    width: 100%;
}

.image-right{
    height: 300px;
    width: 100%;
}


/*
#advert-header {
    text-align: left;
    font-size: 280%;
}

.led-balloon{
    float: left;
    clear: both;
    height: 200px;
    width: 40%;
    position: relative;
  }  

.helium-balloon {
    float: right;
    clear: both;
    height: 200px;
    width: 40%;
    position: relative;
}*/

/*
.text-left {
    float:left;
    padding-left: 10%;
    padding-right: 20px; 
  }
*/

/*
  .text-right {
    float:left;
    padding-right: 10%;
    padding-left: 20px;
    
  }
*/

  
/*
footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}
  */

